{% extends "base.html" %}

{% block content %}

    {% if entries|length == 0 %}

        <p>No entries yet</p>

    {% else %}

        <div>
            {% for entry in entries %}
                <h3>
                    <a href="./blog?blog_id={{ entry.blog_id }}">{{ entry.title }}</a>
                </h3>
                <p>{{ entry.body }}</p>
                <p>written by<a href="./blog?user_id={{ entry.user_id }}">{{ entry.username }}</a></p>
                <hr/>
            {% endfor %}
        </div>

    {% endif %}
{% endblock %}